/*
 *  UltraDefrag - powerful defragmentation tool for Windows NT.
 *  Copyright (c) 2007 - 2009 by Dmitri Arkhangelski (dmitriar@gmail.com).
 *  Copyright (c) 2009 by Sayem Chaklader (gearspec@viperprogrammers.net).
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 */

/*
* GUI Configurator resources description.
*/

#include "../include/version.h"
#include "resource.h"

/*
* This icon was made from GPL licensed images 
* provided by Window Manager Icons project:
* http://wm-icons.sourceforge.net/
*/
IDI_CONFIG              ICON    DISCARDABLE     "res/config.ico"

/*
* Copyright (C) 2009 by Sayem Chaklader
* http://gearspec.deviantart.com/art/Living-Black-and-White-116218507
*/
IDB_SETTINGS_PICTURE    BITMAP  DISCARDABLE     "res/config.bmp"

IDD_CONFIG DIALOGEX 0, 0, 295, 121
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "UltraDefrag GUI Configurator"
FONT 9, "Courier New", 0, 0, 0x1
BEGIN
    CONTROL         IDB_SETTINGS_PICTURE,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE,5,8,66,105

    GROUPBOX        "Graphical interface",IDC_GUI,77,4,213,33
    PUSHBUTTON      "Font",IDC_FONT,84,17,63,12,WS_GROUP
    PUSHBUTTON      "Script",IDC_GUI_SCRIPT,153,17,61,12,NOT WS_TABSTOP
    PUSHBUTTON      "Help",IDC_GUI_HELP,221,17,62,12,NOT WS_TABSTOP

    GROUPBOX        "Windows boot time scan",IDC_BOOT_TIME,77,42,213,33
    CONTROL         "Enable",IDC_ENABLE,"Button",BS_AUTOCHECKBOX | 
                    WS_GROUP | WS_TABSTOP,84,55,63,12
    PUSHBUTTON      "Script",IDC_BOOT_SCRIPT,153,55,61,12,NOT WS_TABSTOP
    PUSHBUTTON      "Help",IDC_BOOT_HELP,221,55,62,12,NOT WS_TABSTOP

    GROUPBOX        "Reports",IDC_REPORTS,77,80,213,33
    PUSHBUTTON      "Options",IDC_REPORT_OPTIONS,84,93,130,12,WS_GROUP
    PUSHBUTTON      "Help",IDC_REPORT_HELP,221,93,62,12,NOT WS_TABSTOP
END

/* manifests for all targets produces make-manifests.cmd script */
1 24 "res/config.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "UltraDefrag Development Team\0"
            VALUE "FileDescription", "UltraDefrag GUI Configurator\0"
            VALUE "FileVersion", VERSION2
            VALUE "InternalName", "udefrag-gui-config\0"
            VALUE "LegalCopyright", "Copyright © 2007-2009 UltraDefrag Development Team\0"
            VALUE "OriginalFilename", "udefrag-gui-config.exe\0"
            VALUE "ProductName", "UltraDefrag\0"
            VALUE "ProductVersion", VERSION2
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
