.code {
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
	vertical-align: middle;
}

.lcode{
	font-family: monospace;
	font-size: 10pt;
	vertical-align: middle;
}

.graycode{
	background-color: rgb(220,220,220);
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
	vertical-align: middle;
}

li{
	padding-bottom: 2pt;
}
