/*
 *  UltraDefrag - powerful defragmentation tool for Windows NT.
 *  Copyright (c) 2007 - 2010 by Dmitri Arkhangelski (dmitriar@gmail.com).
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 */

/*
* Graphical interface resources description.
*/

#include "../include/version.h"
#include "resource.h"

IDI_APP                 ICON    DISCARDABLE     "res/app.ico"
IDI_DIR                 ICON    DISCARDABLE     "res/dir.ico"
IDI_UNFRAGM             ICON    DISCARDABLE     "res/unfragm.ico"
IDI_FRAGM               ICON    DISCARDABLE     "res/fragm.ico"
IDI_CMP                 ICON    DISCARDABLE     "res/cmp.ico"
IDI_MFT                 ICON    DISCARDABLE     "res/mft.ico"

IDI_FIXED               ICON    DISCARDABLE     "res/fixed.ico"
IDI_REMOVABLE           ICON    DISCARDABLE     "res/removable.ico"

IDB_ABOUTBOX_PICTURE    BITMAP  DISCARDABLE     "res/ship.bmp"

IDD_MAIN DIALOGEX 0, 0, 351, 220 //218 /*315, 218*/
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
#ifndef UDEFRAG_PORTABLE
CAPTION VERSIONINTITLE
#else
CAPTION VERSIONINTITLE_PORTABLE
#endif
FONT 9, "Courier New", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_VOLUMES,"SysListView32",LVS_REPORT | 
                    /*LVS_SINGLESEL |*/ LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | 
                    WS_BORDER | WS_GROUP | WS_TABSTOP,7,7,337,66
    PUSHBUTTON      "Rescan drives",IDC_RESCAN,246,80,98,10,WS_GROUP
    CONTROL         "Skip removable media",IDC_SKIPREMOVABLE,"Button",
                    BS_AUTOCHECKBOX /*| BS_RIGHTBUTTON | BS_RIGHT*/,100,81,140,10
    LTEXT           "Cluster map:",IDC_CL_MAP_STATIC,7,81,90,9
    CONTROL         "",IDC_MAP,"Static",SS_GRAYRECT,7,93,337,77,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Analyze",IDC_ANALYSE,7,174,65,11,WS_GROUP
    PUSHBUTTON      "Defragment",IDC_DEFRAGM,76,174,65,11,NOT WS_TABSTOP
    PUSHBUTTON      "Optimize",IDC_OPTIMIZE,145,174,65,11,NOT WS_TABSTOP
    PUSHBUTTON      "Stop",IDC_STOP,215,174,62,11,WS_DISABLED | NOT 
                    WS_TABSTOP
    PUSHBUTTON      "Report",IDC_SHOWFRAGMENTED,281,174,62,11,NOT WS_TABSTOP
    CONTROL         "Shut down PC after a job",IDC_SHUTDOWN,"Button",
                    BS_AUTOCHECKBOX /*| BS_RIGHTBUTTON | BS_RIGHT | BS_CENTER*/ | NOT WS_TABSTOP,
					7,189,192,10
    PUSHBUTTON      "Settings",IDC_SETTINGS,215,189,62,10,NOT WS_TABSTOP
    PUSHBUTTON      "About",IDC_ABOUT,281,189,62,10,NOT WS_TABSTOP
    LTEXT           "A 0.00 %",IDC_PROGRESSMSG,7,200,49,8
    CONTROL         "",IDC_PROGRESS1,"msctls_progress32",PBS_SMOOTH | 
                    WS_BORDER,58,201,285,5
END

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 93
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Ultra Defragmenter"
FONT 9, "Courier New"
BEGIN
    CONTROL         128,IDC_PIC1,"Static",SS_BITMAP | SS_CENTERIMAGE,5,4,62,78
    CTEXT           ABOUT_VERSION,IDC_STATIC,72,6,161,12
    CTEXT           "Copyright (C) 2007-2010",IDC_STATIC,72,22,161,12
    CTEXT           "UltraDefrag Development Team",IDC_STATIC,72,38,161,12
    PUSHBUTTON      "Credits",IDC_CREDITS,72,53,76,10
    PUSHBUTTON      "License",IDC_LICENSE,153,53,80,10
    PUSHBUTTON      "http://ultradefrag.sourceforge.net",IDC_HOMEPAGE,72,70,
                    161,12,BS_FLAT
END

IDR_ACCELERATOR1 ACCELERATORS DISCARDABLE 
BEGIN
    "A",            IDC_ANALYSE,            VIRTKEY, CONTROL, NOINVERT
    "C",            IDC_OPTIMIZE,           VIRTKEY, CONTROL, NOINVERT
    "D",            IDC_DEFRAGM,            VIRTKEY, CONTROL, NOINVERT
    "F",            IDC_SHOWFRAGMENTED,     VIRTKEY, CONTROL, NOINVERT
    "P",            IDC_PAUSE,              VIRTKEY, CONTROL, NOINVERT
    "R",            IDC_RESCAN,             VIRTKEY, CONTROL, NOINVERT
    "S",            IDC_STOP,               VIRTKEY, CONTROL, NOINVERT
    "T",            IDC_SETTINGS,           VIRTKEY, CONTROL, NOINVERT
    VK_F1,          IDC_ABOUT,              VIRTKEY, NOINVERT
    VK_PAUSE,       IDC_PAUSE,              VIRTKEY, NOINVERT
END

IDR_ACCELERATOR2 ACCELERATORS DISCARDABLE 
BEGIN
/*    VK_ESCAPE,     IDOK,                    VIRTKEY, NOINVERT*/
    VK_F1,         IDC_CREDITS,             VIRTKEY, NOINVERT
    VK_F2,         IDC_LICENSE,             VIRTKEY, NOINVERT
    VK_F3,         IDC_HOMEPAGE,            VIRTKEY, NOINVERT
END

/* manifests for all targets produces make-manifests.cmd script */
1 24 "res/dfrg.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "UltraDefrag Development Team\0"
		#ifndef UDEFRAG_PORTABLE
            VALUE "FileDescription", "UltraDefrag GUI interface\0"
		#else
            VALUE "FileDescription", "UltraDefrag Portable GUI interface\0"
		#endif
            VALUE "FileVersion", VERSION2
            VALUE "InternalName", "Dfrg\0"
            VALUE "LegalCopyright", "Copyright © 2007-2010 UltraDefrag Development Team\0"
            VALUE "OriginalFilename", "Dfrg.exe\0"
            VALUE "ProductName", "UltraDefrag\0"
            VALUE "ProductVersion", VERSION2
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
