options:
    --src .
    --doc ./robo-doc
    --html
    --multidoc
    --sections
    --tell
    --toc
    --index
    --css robodoc_strong.css
    --documenttitle "Udefrag.dll Documentation"
ignore files:
    CVS .svn doxy-doc *.css
accept files:
    *.c *.h
headertypes:
    x  "Undocumented Windows" robo_undoc_win
	N  "Installation Notes"   robo_inst_notes
