/*
* UltraDefrag GUI Russian resources.
* Copyright (C) 2008 by Dmitri Arkhangelski.
*/

#include "../include/version.h"
#include "../gui/resource.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDD_MAIN DIALOGEX 0, 0, 315, 218
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION VERSIONINTITLE
FONT 9, "Courier New", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_VOLUMES,"SysListView32",LVS_REPORT | 
                    LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | /*LVS_SORTASCENDING | */
                    WS_BORDER | WS_GROUP | WS_TABSTOP,7,7,300,66
    PUSHBUTTON      "Поиск дисков",IDC_RESCAN,246,76,61,10,WS_GROUP
    CONTROL         "Исключить сменные носители",IDC_SKIPREMOVABLE,"Button",
                    BS_AUTOCHECKBOX,123,76,120,10
    LTEXT           "Карта диска:",IDC_STATIC,7,78,113,9
    CONTROL         "",IDC_MAP,"Static",SS_GRAYRECT,7,89,300,77,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Анализ",IDC_ANALYSE,7,174,59,11,WS_GROUP
    PUSHBUTTON      "Пуск!",IDC_DEFRAGM,71,174,58,11,NOT WS_TABSTOP
    PUSHBUTTON      "Оптимизация",IDC_COMPACT,133,174,57,11,NOT WS_TABSTOP
    PUSHBUTTON      "Пауза",IDC_PAUSE,194,174,54,11,WS_DISABLED | NOT 
                    WS_TABSTOP
    PUSHBUTTON      "Стоп",IDC_STOP,253,174,54,11,WS_DISABLED | NOT 
                    WS_TABSTOP
    PUSHBUTTON      "Отчет",IDC_SHOWFRAGMENTED,133,189,57,10,NOT 
                    WS_TABSTOP
    PUSHBUTTON      "Настройки",IDC_SETTINGS,194,189,54,10,NOT WS_TABSTOP
    PUSHBUTTON      "О программе",IDC_ABOUT,253,189,54,10,NOT WS_TABSTOP
    CTEXT           "0 %",IDC_PROGRESSMSG,0,200,29,8
    CONTROL         "",IDC_PROGRESS1,"msctls_progress32",PBS_SMOOTH | 
                    WS_BORDER,30,202,277,5
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIST_VOLUME             "Диск"
    IDS_LIST_STATUS             "Статус"
    IDS_LIST_FS                 "   Тип ФС"
    IDS_LIST_TOTAL              "Всего   "
    IDS_LIST_FREE               "Свободно"
    IDS_LIST_PERCENT            "Процент"
    IDS_STATUS_DIRS             "dirs"
    IDS_STATUS_FILES            "files"
    IDS_STATUS_FRAGM            "fragmented"
    IDS_STATUS_COMPRESSED       "compressed"
    IDS_STATUS_MFT              "MFT"
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION
 PRODUCTVERSION VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "UltraDefrag Development Team\0"
            VALUE "FileDescription", "Russian GUI resources\0"
            VALUE "FileVersion", VERSION2
            VALUE "InternalName", "ru.dll\0"
            VALUE "LegalCopyright", "Copyright © 2008 Dmitri Arkhangelski\0"
            VALUE "OriginalFilename", "ru.dll\0"
            VALUE "ProductName", "UltraDefrag\0"
            VALUE "ProductVersion", VERSION2
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
