[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Catalan Language Pack.
; Copyright (C) 2009 by IllesBalears traducció català.
; Revised Feb. 13, 2010 by Stefan Pendl
; Revised {Date} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.


GRAPHICAL_INTERFACE   = Interfície gràfica
FONT                  = Font
SCRIPT                = Script
HELP                  = Ajuda
BOOT_TIME_SCAN        = Escaneig d'inici del Windows
ENABLE                = Activa
REPORTS               = Informes
OPTIONS               = Opcions


; END OF FILE

[[code]]
