[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configurator Simplified Chinese Language Pack.
; Copyright (C) 2009 by muzuiget
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = 图形界面
FONT                  = 字体
SCRIPT                = 脚本
HELP                  = 帮助
BOOT_TIME_SCAN        = Windows 启动时扫描
ENABLE                = 启用
REPORTS               = 报告
OPTIONS               = 选项

; END OF FILE﻿

[[code]]
