[[code format="text"]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configurator Traditional Chinese Language Pack.
; Copyright (C) 2009 by muzuiget
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = 圖形界面
FONT                  = 字型
SCRIPT                = 腳本
HELP                  = 幫助
BOOT_TIME_SCAN        = Windows 啟動時掃描
ENABLE                = 啟用
REPORTS               = 報告
OPTIONS               = 選項

; END OF FILE﻿

[[code]]
