[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Czech Language Pack.
; Copyright (C) 2010 by Stefan Pendl.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Grafické uživatelské rozhraní
FONT                  = Křtitelnice
SCRIPT                = Skript
HELP                  = Nápověda
BOOT_TIME_SCAN        = Windows bota čas prohlížet pečlivě
ENABLE                = Umožnit
REPORTS               = Zprávy
OPTIONS               = Možnosti

; END OF FILE

[[code]]