[[code format="text"]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration US English Language Pack.
; Copyright (C) 2009 by Dmitri Arkhangelski.
; Revised Feb. 12, 2010 by Stefan Pendl
; Revised {Date} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Graphical User Interface
FONT                  = Font
SCRIPT                = Script
HELP                  = Help
BOOT_TIME_SCAN        = Windows boot time scan
ENABLE                = Enable
REPORTS               = Reports
OPTIONS               = Options

; END OF FILE

[[code]]
