[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Farsi Language Pack.
; Copyright (C) 2008 by Ali Jafari.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE = نمايش گرافيكي
FONT                = فونت
SCRIPT              = حروف
HELP                = كمك
BOOT_TIME_SCAN      = اسكن زمان بوت ويندوز
ENABLE              = قادر ساختن
REPORTS             = گزارشات
OPTIONS             = اختيارات

; END OF FILE

[[code]]
