[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Finnish Language Pack.
; Copyright (C) 2010 by Stefan Pendl.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Graafinen Käyttäjän Vuorovaikutusta
FONT                  = Fontti
SCRIPT                = Kirjoitus
HELP                  = Apua
BOOT_TIME_SCAN        = Windows lisäksi osan aikaa
ENABLE                = Avulla
REPORTS               = Raportti
OPTIONS               = Vaihtoehtoja

; END OF FILE

[[code]]