[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configurator FR French Language Pack.
; Copyright (C) 2009 by Pascal Crozet
; Revised Feb. 13, 2010 by Stefan Pendl
; Revised {Date} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Interface Utilisateur Graphique
FONT                  = Police
SCRIPT                = Script
HELP                  = Aide
BOOT_TIME_SCAN        = Balayage au démarrage de Windows
ENABLE                = Actif
REPORTS               = Rapports
OPTIONS               = Options

; END OF FILE

[[code]]
