[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Korean Language Pack.
; Copyright (C) 2010 by Stefan Pendl.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = 그래픽 사용자 인터페이스
FONT                  = 글꼴
SCRIPT                = 원본
HELP                  = 도움
BOOT_TIME_SCAN        = Windows 부팅 시간을 검사합니다
ENABLE                = 사용
REPORTS               = 보고
OPTIONS               = 선택권

; END OF FILE

[[code]]