[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Portuguese(BR) Language Pack.
; Copyright (C) 2010 by Stefan Pendl.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Gráfico Interface do usuário
FONT                  = Fonts
SCRIPT                = Manuscrita
HELP                  = Ajuda
BOOT_TIME_SCAN        = Windows bota tempo exame atento
ENABLE                = Capacitar
REPORTS               = Relatórios
OPTIONS               = Opções

; END OF FILE

[[code]]