[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Russian Language Pack.
; Copyright (C) 2010 by Dmitri Arkhangelski.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Графический интерфейс
FONT                  = Шрифт
SCRIPT                = Сценарий
HELP                  = Помощь
BOOT_TIME_SCAN        = Запуск при загрузке Windows
ENABLE                = Включить
REPORTS               = Отчеты
OPTIONS               = Опции

; END OF FILE

[[code]]