[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Serbian Language Pack.
; Copyright (C) 2010 by Dmitri Arkhangelski.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Графички интерфејс
FONT                  = Фонт
SCRIPT                = Сценарио
HELP                  = Помоћ
BOOT_TIME_SCAN        = Старт током преузети Windows
ENABLE                = Укључују
REPORTS               = Извештаји
OPTIONS               = Опције

; END OF FILE

[[code]]