[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Thai Language Pack.
; Copyright (C) 2009 by Pat Taweewat.
; Revised Feb. 13, 2010 by Stefan Pendl
; Revised {Date} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE = ส่วนติดต่อกราฟฟิก
FONT                = แบบอักษร
SCRIPT              = สคริปต์
HELP                = ช่วยเหลือ
BOOT_TIME_SCAN      = ทำงานขณะบูต Windows
ENABLE              = เปิดใช้งาน
REPORTS             = รายงาน
OPTIONS             = ตัวเลือก

; END OF FILE

[[code]]
