[[code]]
;------------------------------------------------------------------------------
; UltraDefrag GUI Configuration Yiddish Language Pack.
; Copyright (C) 2010 by Dmitri Arkhangelski.
; Revised {Date [Example: Jan. 01, 1900]} by {Full Name of Reviser}
;------------------------------------------------------------------------------

; Please keep the header and comments in English,
; so everyone understands them

; THIS FILE MUST BE SAVED IN UNICODE (UTF-16) ENCODING
; Use \n as a newline character in strings.

GRAPHICAL_INTERFACE   = Grafish breyre
FONT                  = Shrift
SCRIPT                = Stsenar
HELP                  = Hilf
BOOT_TIME_SCAN        = Tsapl bay Windows shtivl
ENABLE                = Gebn
REPORTS               = Meldung
OPTIONS               = Breyre

; END OF FILE

[[code]]