body {
	color: rgb(0, 0, 0);
	background-color: rgb(240, 240, 255);
	font-family: Times New Roman;
	font-size: 12pt;
}

p {
	/*padding-left:10pt;*/
	/*text-indent:10pt;*/
}

/* for paragraphs and other blocks */
.p0 {
	/*padding-left:10pt;*/
	text-indent:0pt;
}

a:link {
	color: #0000ff;
}

a:visited {
	color: #660099;
}

#links {
	padding-left: 0pt;
	text-indent: 0pt;
	text-align: center;
}

.header2 {
	font-variant: small-caps;
	text-align: center;
}

.path {
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
}

.lpath{
	font-family: monospace;
	font-size: 10pt;
}
