# custom error page
ErrorDocument 404 /404.html

# enable SSI
Options +IncludesNOEXEC
AddOutputFilter INCLUDES .html

# enable compression
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript

# enable expirations
ExpiresActive On

# expire files in the client's cache
ExpiresByType application/javascript A604800
ExpiresByType image/gif              A604800
ExpiresByType image/ico              A604800
ExpiresByType image/jpeg             A604800
ExpiresByType image/png              A604800
ExpiresByType text/css               A604800
ExpiresByType text/javascript        A604800

# force the program to check for available updates correctly
<Files "*.ini">
    FileETag None
    Header unset ETag
    Header set Pragma "no-cache"
    Header set Cache-Control "private, no-cache, max-age=0, must-revalidate"
    Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</Files>

# redirects for old pages
Redirect permanent /about.html           http://ultradefrag.sourceforge.net/index.html?about
Redirect permanent /authors_about.html   http://ultradefrag.sourceforge.net/index.html?about
Redirect permanent /bugs                 http://sourceforge.net/p/ultradefrag/bugs/
Redirect permanent /bugs.html            http://sourceforge.net/p/ultradefrag/bugs/
Redirect seeother  /disclaimer.html      http://ultradefrag.sourceforge.net/handbook/
Redirect permanent /download.html        http://ultradefrag.sourceforge.net/index.html?download
Redirect permanent /faq.html             http://ultradefrag.sourceforge.net/handbook/FAQ.html
Redirect permanent /forum                http://sourceforge.net/p/ultradefrag/discussion/709672/
Redirect permanent /forum.html           http://sourceforge.net/p/ultradefrag/discussion/709672/
Redirect permanent /history.txt          http://ultradefrag.sourceforge.net/HISTORY.TXT
Redirect permanent /links.html           http://ultradefrag.sourceforge.net/index.html?links
Redirect permanent /manual.html          http://ultradefrag.sourceforge.net/handbook/
Redirect permanent /overview.html        http://ultradefrag.sourceforge.net/handbook/Introduction.html
Redirect permanent /screenshots.html     http://ultradefrag.sourceforge.net/index.html?screenshots
Redirect permanent /version_history.html http://ultradefrag.sourceforge.net/HISTORY.TXT
Redirect seeother  /vista_guide.html     http://ultradefrag.sourceforge.net/handbook/
Redirect permanent /WISH.TXT             http://sourceforge.net/p/ultradefrag/feature-requests/

# redirects for retired pages
Redirect permanent /art.html             http://ultradefrag.sourceforge.net/
Redirect permanent /artgallery.html      http://ultradefrag.sourceforge.net/
Redirect permanent /logos_web.html       http://ultradefrag.sourceforge.net/
Redirect permanent /sitemap.html         http://ultradefrag.sourceforge.net/
Redirect permanent /wallpapers.html      http://ultradefrag.sourceforge.net/

# redirects for development resources
Redirect permanent /design_notes.html    http://ultradefrag.sourceforge.net/handbook/Development.html
Redirect permanent /developer_info.html  http://ultradefrag.sourceforge.net/handbook/Development.html
Redirect permanent /development.html     http://ultradefrag.sourceforge.net/handbook/Development.html
Redirect permanent /devtools/            http://ultradefrag.sourceforge.net/handbook/Development.html
Redirect permanent /stats                http://sourceforge.net/p/ultradefrag/stats/traffic

RedirectMatch permanent /doxy-doc/html/.+\.html     http://ultradefrag.sourceforge.net/handbook/Development.html
RedirectMatch permanent /doxy-doc/wgx/html/.+\.html http://ultradefrag.sourceforge.net/handbook/Development.html

RedirectMatch permanent /doxy-doc/udefrag.dll/html/(.*)$       http://ultradefrag.sourceforge.net/doc/lib/udefrag/$1
RedirectMatch seeother  /doxy-doc/udefrag-kernel/html/.+\.html http://ultradefrag.sourceforge.net/doc/lib/udefrag/

# redirects for trash
Redirect permanent /%C2%A0               http://ultradefrag.sourceforge.net/
Redirect permanent /httprget=            http://ultradefrag.sourceforge.net/
Redirect permanent /ru/index             http://ultradefrag.sourceforge.net/ru/index.html
RedirectMatch permanent /en/index\.html.+ http://ultradefrag.sourceforge.net/en/index.html

# redirects for old translations
RedirectMatch temp /fa/(.*)$             http://ultradefrag.sourceforge.net/en/$1
RedirectMatch temp /ru/(.*)$             http://ultradefrag.sourceforge.net/en/$1
